<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfigurationSettings" type="InterfaceSegregation.Configuration1.ConfigurationSettings, Solid04-ISP"/>
  </configSections>
  <ConfigurationSettings 
    ApplicationName="Interface Segregation"
    AuthorName="Tomer Shaiman"
    CacheDuration="60"
    DatabaseServerName="localhost"
    DatabaseName="Northwind"
    DatabaseUserName="ssmith"
    DatabasePassword="secret"
    WebServiceBaseUri="http://localhost/"
    />
</configuration>